.camera-container {
  padding: 20px;
}

.camera-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.camera-item {
  flex: 1 0 300px;
  margin: 10px;
  position: relative;
}

.card {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.card-img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.card-body {
  padding: 30px 5px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

strong {
  padding-bottom: 20px;
}

.price {
  margin-right: 10px;
  display: flex;
  align-items: baseline;
  font-size: large;
  font-weight: bold;
}

.release-year {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.new-box,
.bronze-box,
.silver-box,
.gold-box,
.diamond-box {
  padding: 5px 10px;
  border-radius: 5px;
  margin-left: 10px;
}

.new-box {
  background-color: green;
  color: white;
}

.bronze-box {
  background-color: #cd7f32;
  color: white;
}

.silver-box {
  background-color: silver;
  color: black;
}

.gold-box {
  background-color: gold;
  color: black;
}

.diamond-box {
  background-color: #e6e6e6;
  color: black;
}

.platinum-box {
  padding: 5px 10px;
  border-radius: 5px;
  margin-left: 10px;
  background: linear-gradient(to right, #e8c37a, #d9d8d6);
  color: black;
}

.platinum::after {
  content: "DISCONTINUED";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(214, 217, 217, 0.7);
  opacity: 0.5;
  color: rgb(181, 15, 15);
  padding: 10px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.discontinued {
  filter: grayscale(100%);
}
